.hotel-form-container {
    background-color: bisque;
    padding: 20px;
}

.hotel-form-container h1 {
    text-align: center;
}

.emoloyee-form-container {
    background-color: rgb(238, 122, 122);
    padding: 20px;
}

